
__pycache__/
*.py[cod]
*$py.class
*.so


venv/
env/
ENV/
env.bak/
venv.bak/
.venv/

.idea/
*.iml
*.iws
.idea_modules/

.ipynb_checkpoints
*.ipynb

.mypy_cache/
.dmypy.json
dmypy.json


Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

*~

*.tmp
*.temp
*.log
*.bak
*.swp
*.swo
*~

.env
.env.local

